fastapi==0.95.1
uvicorn[standard]==0.22.0
sqlalchemy==2.0.12
asyncpg>=0.29.0
pydantic[email]==1.10.7
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
slowapi==0.1.7
python-dotenv==1.0.0
redis==4.5.5
httpx==0.24.0
